$colors: (
    --red: rgb(165, 5, 5),
    redhover: rgb(133, 7, 7),
    --gray: #3c3c3c,
    grayhover: #252525,
    --blue: rgb(27, 118, 236),
    bluehover: rgb(13, 99, 211),
    --green: rgb(15, 119, 15),
    greenhover: rgb(16, 88, 16),
    );
    
@function color($key) {
    @return map-get($map: $colors, $key: $key);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-dark {
        background: color(--gray) !important;

    &:hover {
        background: color(grayhover) !important;
    }
}

.bg-red {
    background: color(--red) !important;

    &:hover {
        background: color(redhover) !important;
    }
}

.bg-blue {
    background: color(--blue) !important;

    &:hover {
        background: color(bluehover) !important;
    }
}

.bg-green {
    background: color(--green) !important;

    &:hover {
        background: color(greenhover) !important;
    }
}

button {
    outline: 0 !important;
    outline-color: none !important;
}

.lighter {
    position: absolute;
    background: white;
    opacity: 0.3;
    z-index: 1;
    width: 100%;
    min-height: 200px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: baseline;
    mix-blend-mode: soft-light;
}

#wrapper {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 185px);
    background-image: url('../Recursos-Pruebatelo/Recursos-Pruebatelo/BG/BG1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;


    .display {
        width: 50%;
        max-width: 500px;
        min-width: 300px;
        max-height: 75vh;
        min-height: 350px;
        position: relative;

        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            vertical-align: baseline;
        }
    }

    #video-container, .canvas-container, .controls-container{
        width: 50%;
        max-width: 500px;
        min-width: 300px;
        max-height: 75vh;
        min-height: 350px;
        margin: 5px auto;
        display: block;
        overflow: hidden;
        box-shadow: 5px 5px 4px rgba(255,255,255,0.2);
        border-radius: 5px;
        transition: 0.3s;
        
        @media (max-width: 900px) {
            min-height: 200px;
        }
        
        #video, #canvas {
            margin: auto;
            width: 100%; 
            height: 100%;
            // transform: rotateY(180deg);
        }
    }
    
    .canvas-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .photo {
            max-width: 60%;
            max-height: 80%;
            margin: auto;
        }
    }

    .controls-container {

        height: auto;
        min-height: auto;
        max-height: none;
        padding: 0.7rem 0;
        background: white;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);

        .control .fa {
            font-size: 25px !important;
        }

        // @media (min-width: 900px) {
            max-height: 90vh;
            overflow-y: auto;
            overflow-x: visible;

            #titleLabel {
                display: none !important;
            }

            #mainbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 100%;
                .box {

                    @media (min-width: 900px) {
                        position: absolute;
                        vertical-align: baseline;
                    }

                    @media (max-width: 500px) {
                        max-width: 50%;
                        min-width: 48%;
                        margin: auto;
                    }
                    max-width: 150px;
                    min-width: 150px;
                    max-height: 150px;
                    // min-height: 100px;
                    display: inline-block;
                    margin: auto 10px;

                    .box {
                        @media(max-width: 899px) {
                            display: block;
                            height: 100%;
                            min-width: 80px;
                            max-width: 100%;
                        }
                    }
                    &#arrows {
                        right: 12%;
                        top: 90px;
                        margin-top: 50px;
                        background: color(--blue);
                        border-radius: 100%;
                        box-shadow: 2px 1px 4px rgba(0,0,0,0.2);

                        .control {
                            background: none;
                            font-size: 20px;
                            &:hover {
                                background: color(bluehover);
                            }

                            &-group {
                                width: 100%;
                            }

                            &#arrowsLabel {
                                margin-top: -30px !important;
                                padding-bottom: 10px;
                                height: 20px;
                                color: color(--gray);
                            }
                        }
                    }

                    &#width {
                        left: 12%;
                        top: 100px;

                        
                        .control {
                            display: inline-block;
                            width: 50%;
                            margin: 2px 0;
                            &#moreWidthButton {
                                border-radius: 4px 0 0 4px;
                                background: color(--blue);

                                &:hover {
                                    background: color(bluehover);
                                }
                            }
                            &#lessWidthButton {
                                border-radius: 0 4px 4px 0;
                                background: color(bluehover);
                            }
                            &#widthLabel {
                                height: 20px;
                                color: color(--gray);
                            }
                        }
                    }

                    &#rotation {
                        left: 12%;
                        top: 200px;
                        .control {
                            margin: 2px auto;

                            &#yLabel, &#zLabel {
                                height: 20px;
                                color: color(--gray);
                            }
                            &-move {
                                width: 50% !important;

                                &#YRotateLeft, &#ZRotateLeft {
                                    background: color(--blue);
                                    border-radius: 4px 0 0 4px;
                                    
                                    &:hover {
                                        background: color(bluehover);
                                    }
                                }
                                
                                &#YRotateRight, &#ZRotateRight {
                                    background: color(bluehover);
                                    border-radius: 0 4px 4px 0;
                                }
                            }
                            &-group {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        // }

        @media (max-width: 500px) {
            height: calc(100vh - 130px - 220px);
            overflow: auto;
        }



        button,
        input,
        label,
        .btn {
            display: block;
            width: 80%;
            height: 40px;
            border: 0;
            margin: 5px auto;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
        }

        #photoLabel {
            display: block;
            width: 80%;
            height: 40px;
            border: 0;
            margin: 5px auto;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            background: rgb(27, 118, 236);
            color: white;
            cursor: pointer;
            
            &:hover {
                background: rgb(13, 99, 211);
            }
        }

        label {
            display: flex !important;
            justify-content: center;
            align-items: center;
            margin: 5px auto !important;

            * {
                margin: auto;
                text-align: center;
                text-transform: uppercase;
                font-weight: lighter;
            }
        }

        button, .btn {
            background: rgb(27, 118, 236);
            color: white;
            cursor: pointer;
            
            &:hover {
                background: rgb(13, 99, 211);
            }
        }

        .control {
            &-move {
                width: 40px !important;
                height: 40px;
            }

            &-group {
                margin: 4px auto;
                display: flex;
                width: 50%;
                min-width: 90px;
                max-width: 170px;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .control {
                    margin: auto !important;
                    display: inline-block;
                }
            }
        }
    }

    .fixed {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }

    .fixed-1x {
        z-index: 100;
    }

    .fixed-2x {
        z-index: 50;
    }

    .hidden {
        display: none !important;
    }

    .error-message, .instruction-message {
        width: 95%;
        margin: 0.5rem auto;
        text-align: center;
        border-radius: 4px;
        padding: 0.6rem 0;
    }

    .error-message {
        background: rgb(255, 213, 213);
        color: rgb(168, 42, 42);
        border: 1px solid rgba(139, 0, 0, 0.164);
    }

    .instruction-message {
        background: rgb(213, 255, 220);
        color: rgb(18, 83, 40);
        border: 1px solid rgba(0, 139, 12, 0.164);
    }

    #mainbox {
        @media (min-width: 900px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .box {
                display: inline-block;
                margin: auto 10px;
                width: 25%;
            }
        }
    }

    ul {
        width: 95%;
        margin: 1.3rem auto;
        border: 0.5px solid rgb(216, 216, 216);
        border-radius: 4px;
        padding: 0.75rem 0.3rem;

        li {
            margin: 0.6rem auto;
            font-weight: bold;

            ul {
                border: 0;
                background: rgb(240, 240, 240);

                li {
                    padding-left: 0.4rem;
                    font-weight: lighter !important;
                }
            }
        }
    }

    hr {
        width: 90%;
        margin: 5px auto;
    }
    #instructions { display: none };
    #toggleInstructions { display: none };
    #toggleInstructions:checked ~ #instructions { display: block };

}

#sources-toggler:checked ~ label[for=sources-toggler] {
    bottom: 135px;

    &:before {
        content: "Ocultar";
    }
}

#sources-toggler:checked ~ #sources-menu {
    height: 120px;
}

label[for=sources-toggler] {
    display: block;
    width: 100px;
    height: 20pt;
    background: color(--blue);
    border: 0;
    border-radius: 3px;
    margin: 3px auto;
    position: fixed;
    transition: 0.3s;
    cursor: pointer;
    bottom: 12px;
    left: 10px;
    color: white;
    padding: 5px 4px;
    text-align: center;
    z-index: 100;

    &:hover {
        background: color(--bluehover);
    }

    &:before {
        content: "Ver Lentes";
    }
}

#sources-menu {
    width: 300px;
    height: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: 0.3s;
    z-index: 100;

    img {
        display: inline-block;
        width: 30%;
        margin: auto;
        max-height: 100%;
        cursor: pointer;


        &:hover {
            box-shadow: 0 0 2px rgba(0,0,0,0.4);
        }
    }
}