* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("../img/seamless-doodle-accessories-mustache-hats-glasses-pattern-background-vector-illustration/3914.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#video-container, .canvas-container, .controls-container {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  max-height: 75vh;
  min-height: 350px;
  margin: 5px auto;
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 5px 5px 4px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 500px) {
  #video-container, .canvas-container, .controls-container {
    min-height: 200px;
  }
}

#video-container #video, #video-container #canvas, .canvas-container #video, .canvas-container #canvas, .controls-container #video, .controls-container #canvas {
  margin: auto;
  width: 100%;
  height: 100%;
}

.controls-container {
  height: auto;
  max-width: 750px !important;
  min-height: auto;
  max-height: none;
  padding: 0.7rem 0;
  background: white;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .controls-container {
    max-height: 90vh;
    overflow: auto;
  }
}

.controls-container button,
.controls-container input,
.controls-container label,
.controls-container .btn {
  display: block;
  width: 80%;
  height: 40px;
  border: 0;
  margin: 5px auto;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.controls-container label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.controls-container label * {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.controls-container button, .controls-container .btn {
  background: #1b76ec;
  color: white;
  cursor: pointer;
}

.controls-container button:hover, .controls-container .btn:hover {
  background: #0d63d3;
}

.controls-container .control-move {
  width: 40px !important;
  height: 40px;
}

.controls-container .control-group {
  margin: 4px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-width: 90px;
  max-width: 170px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.controls-container .control-group .control {
  margin: auto !important;
  display: inline-block;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.fixed-1x {
  z-index: 100;
}

.fixed-2x {
  z-index: 50;
}

.hidden {
  display: none !important;
}

.error-message, .instruction-message {
  width: 95%;
  margin: 0.5rem auto;
  text-align: center;
  border-radius: 4px;
  padding: 0.6rem 0;
}

.error-message {
  background: #ffd5d5;
  color: #a82a2a;
  border: 1px solid rgba(139, 0, 0, 0.164);
}

.instruction-message {
  background: #d5ffdc;
  color: #125328;
  border: 1px solid rgba(0, 139, 12, 0.164);
}

@media (min-width: 900px) {
  #mainbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mainbox .box {
    display: inline-block;
    margin: auto 10px;
    width: 25%;
  }
}

ul {
  width: 95%;
  margin: 1.3rem auto;
  border: 0.5px solid #d8d8d8;
  border-radius: 4px;
  padding: 0.75rem 0.3rem;
}

ul li {
  margin: 0.6rem auto;
  font-weight: bold;
}

ul li ul {
  border: 0;
  background: #f0f0f0;
}

ul li ul li {
  padding-left: 0.4rem;
  font-weight: lighter !important;
}

hr {
  width: 90%;
  margin: 5px auto;
}

#instructions {
  display: none;
}

#toggleInstructions:checked ~ #instructions {
  display: block;
}
/*# sourceMappingURL=style.css.map */